
<div mat-dialog-content class="productData">
  <h1 mat-dialog-title>Add Product</h1>
  <form [formGroup]="formProductData">
      <!-- product name -->
    <div class="productName">
      <mat-form-field appearance="outline">
        <mat-label>Product name</mat-label>
        <input formControlName="productName" matInput placeholder="Product" />
        <mat-icon matSuffix>create</mat-icon>
        <mat-hint>Item name</mat-hint>
      </mat-form-field>
    </div>

    <!-- product category -->
    <div class="productCategory">
      <mat-form-field appearance="outline">
        <mat-label>Product Caterogy</mat-label>
        <mat-select formControlName="productCategory" placeholder="category">
          <mat-option *ngFor="let category of categoryList" [value]="category.value">
            {{ category.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- product date -->
    <div class="productDate">
      <mat-form-field appearance="outline">
        <mat-label>Choose a date</mat-label>
        <input matInput formControlName="productDate" [matDatepicker]="picker" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

      <!-- input radio product freshness -->
      <div class="productFreshnessRadio">
        <mat-radio-group formControlName="productFreshness" class="example-radio-group">
          <mat-radio-button  class="example-radio-button" *ngFor="let fresh of freshnessList" value="fresh.value">{{fresh.name}}</mat-radio-button>
        </mat-radio-group>
      </div>

      <!-- price -->
      <div class="productPrice">
        <mat-form-field appearance="outline">
          <mat-label>Price</mat-label>
          <input formControlName="productPrice" type="number" matInput placeholder="price">
        </mat-form-field>
      </div>

      <!-- comments -->
      <div class="productComments">
        <mat-form-field appearance="outline">
          <mat-label>Comments</mat-label>
          <textarea formControlName="productComments" matInput></textarea>
        </mat-form-field>
      </div>




  </form>

</div>

<!-- /////////////////////////////////////////////////////////// -->

<div mat-dialog-content class="productFreshness">

  <div class="">
    <div class="row buttons">
      <div class="col-6">
        <button mat-raised-button mat-dialog-close class="button-close">Close</button>
      </div>
      <div class="col-6">
        <button mat-raised-button (click)="addProduct()" color="accent">Save</button>
      </div>
    </div>
  </div>
</div>
